body {
    padding-top: 5rem;
}

.form-login {
    max-width: 330px;
    padding: 15px;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.image-grid {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}

.image-grid li {
    width: 100%;
    aspect-ratio: 1 / 1;  
    overflow: hidden;   
}

.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
}